
// -- Variables --

$headings-color: black;

// -- Global --

#sidebar {
  position: absolute;
  top: 35px;
  right: 10px;
  padding: 0px;

  .panel-title {
    color: $svg-bg;
    font-weight: 900;
  }

  button {
    color: $svg-bg;
  }
}

// -- Controls --

#panel-body-controls {
  button {
    width: 100%;
  }
}

// -- Information --

#panel-body-informations {
  color: rgb(53, 153, 219);

  p  {
    padding: 2px 10px;
    @include border-radius(10px);
  }

  .property {
    font-weight: bold;
  }

  .data {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.07);
  }
}
