
// -- Variables --

$headings-color: black;

// -- Global --

#sidebar {
  position: absolute;
  top: 35px;
  right: 10px;
  padding: 0px;

  color: transparent;

  div {
  }

  .panel-title {
    color: $svg-bg;
    font-weight: 900;
  }

  button {
    color: $svg-bg;
  }
}

// -- Controls --

#panel-body-controls {
  button {
    width: 100%;
  }
}
