
// -- Variables --

$svg-bg: #263d41;
$body-bg: darken($svg-bg, 10%);

// -- General --

body {
  background-color: $body-bg;

  svg {
    margin: auto;

    background: $svg-bg;
  }
}

// -- SVG --

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}


